*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --main__color: #F8C258;
    --light_grey: rgba(0, 0, 0, 0.2);
    --black__color: #0D0D0D;
    --white__color: #FFFFFF;
}

body{
    font-family: 'poppins', 'overpass', sans-serif;
    overflow-x: hidden;
}

/* NAVBAR */

.navbar{
    height: 50px;
    border-bottom: 1px solid var(--light_grey);
    position: relative;
}

.socials{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    height: 20px;
}

.twitter,
.dribbble{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.twitter{
    margin-left: 30px;
}

/* HEADER */

.header{
    height: calc(100vh - 50px);
    padding: 100px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.header .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 100%;
}

.profile__user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.profile__user img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}

.profile__user p{
    margin-left: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.header__title{
    font-size: 70px;
    font-weight: 700;
    text-transform: capitalize;
}

.header__para{
    font-size: 18px;
    font-weight: 300;
}

.header__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn{
    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: none;
    font-family: 'overpass', sans-serif;
}

.btn a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black__color);
}

.header__btn button:nth-child(1){
    background-color: var(--main__color);
    box-shadow: 0 3px 10px #f8c358b0;
}

.header__btn button:nth-child(2){
    background-color: var(--white__color);
    margin-left: 20px;
}

.header__btn button:nth-child(2) a{
    color: var(--main__color);
    font-weight: 500;
}
.header__btn button:nth-child(1) a{
    color: var(--white__color);
}

.btn:nth-child(2) svg{
    width: 20px;
    margin-right: 5px;
    transform: translateY(-2px);
}

/* SECTION PICTURES */

.pictures{
    height: 50vh;
    background-color: lightcyan;
}

.contain__pictures{
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
}

.pictures__div:nth-child(2){
    background-image: url(../img/img3.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* SECTION CONTACT */

.contact{
    text-align: center;
    padding: 100px 0;
}

.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.contact__form h1{
    margin-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'overpass', sans-serif;
}

.contact__form input,
.contact__form textarea {
    width: 80%;
    margin-bottom: 30px;
    padding: 7.5px 10px;
    font-family: 'overpass', sans-serif;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--black__color);
}

.contact__form textarea{
    resize: none;
}

.contact__form .btn{
    width: 80%;
    background-color: var(--main__color);
    cursor: pointer;
    text-transform: uppercase;
}

/* FOOTER */

.footer{
    height: 50px;
    background-color: var(--black__color);
    display: flex;
    align-items: center;
}

.footer a{
    color: lightgray;
    font-size: 12px;
    font-family: 'overpass', sans-serif;
}